body {
  height: auto;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cabin", sans-serif;
  background: lightblue
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
}
.pokemon {
  background: #f1f1f1;
  margin-top: 10px;
  min-width: 180px;
  text-align: center;
  padding: 25px;
  border-radius: 6px;
  border: 10px purple solid;
  box-shadow: 4px 4px 4px black;
}
.pokemon .name{
  font-size: 3em;
  text-transform:capitalize;
  font-weight: bold;
  color:#333
}
.details {
  display:flex;
  justify-content: space-evenly;
  margin: 1em;
  white-space: pre-wrap;
}
.buttonContainer {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  width: 500px;
  align-items: center;
  margin: 2em
}
button {
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #367738; /* Green */
  color: white;
}

.inputContainer {
  display: flex;
}

/* This is so evertyhing is centered on the home page */
.homeInputContainer {
  display: flex;
  /* padding-top: 100px; */
}
.input-wrapper {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 75%;
  box-sizing: border-box;
  color: #2c3e50;
  font-size: 26px;
}
.submitButton {
  margin-left: auto;
  font-size: 20px;
  background-color: rgb(65, 144, 247);
}

.submitButton:hover {
  background-color: rgb(53, 112, 190); /* Green */
  color: white;
}
/* Classes for each individual button. Not currently used. */

.button {
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: auto;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.randomButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.randomButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.johtoButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.johtoButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.kantoButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.kantoButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.hoennButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.hoennButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.sinnohButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.sinnohButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.unovaButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.unovaButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.kalosButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.kalosButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.alolaButton {
  background-color: #4CAF50;
  padding: 15px 32px
}
.alolaButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.galarButton {
  background-color: #4CAF50;
  padding: 15px 32px;
  margin: auto;
}
.galarButton:hover {
  background-color: #367738; /* Green */
  color: white;
}

.playQuiz {
  background-color: rgb(177, 0, 177);
}

.playQuiz:hover {
  background-color: rgb(116, 0, 116)
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}
.quitQuiz {
  background-color: red;
}

.quitQuiz:hover {
  background-color: rgb(143, 0, 0);
}

.giveUp {
  background-color: #b13ffd;
}
.giveUp:hover {
  background-color: #7829ad ;
}

.hardMode {
  background-color: #333;
}
.hardMode:hover {
  background-color: grey;
}
.normalMode {
  background-color: slategrey;
}
.normalMode:hover {
  background-color: rgb(76, 86, 96)
}

.optionButton {
  background-color: rgb(76, 87, 98);
}
.optionButton:hover {
  background-color: rgb(47, 53, 60)
}
/* Containers for when pokemon search fails */
.errorContainer {
  background: #f1f1f1;
  /* min-width: 180px; */
  max-width: 494px;
  text-align: center;
  padding: 25px;
  border-radius: 6px;
  border: 10px purple solid;
  box-shadow: 4px 4px 4px black;
  margin-top: 20px;
}

.errorContainer .info {
  font-size: 3em;
  text-transform:capitalize;
  font-weight: bold;
  color:#333
}

/* Classes for Quiz Answers */

.answerWrapper {
  background: #f1f1f1;
  margin-top: 10px;
  min-width: 500px;
  text-align: center;
  padding: 25px;
  border-radius: 6px;
  border: 10px grey solid;
  box-shadow: 4px 4px 4px black;
}

.quizTitle {
  text-align: center;
  /* padding-top: 100px; */
}
.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.answerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.type1Align {
  margin-left: 10px;
}

.genAlign {
  margin-left:10px
}

.weightAlign {
  margin-left: 10px;
}

.iconSize {
  height: 58px;
  width: 58px
}

.guessPokemonIcon {
  width: 90px;
  margin-left: -15px;
  margin-right: -10px;
  margin-top: -13px
  /* padding-left: 10px */
}

.modal {
  background: #f1f1f1;
  margin: auto;
  max-width:400px;
  padding: 25px;
  margin-top: 10%;
  border-radius: 6px;
  border: 10px rgb(120, 120, 237) solid;
  box-shadow: 4px 4px 4px black;
}

.howToPlayModal {
  background: #f1f1f1;
  margin: auto;
  max-width:400px;
  padding: 25px;
  margin-top: 3%;
  border-radius: 6px;
  border: 10px rgb(206, 120, 237) solid;
  box-shadow: 4px 4px 4px black;
}
.modalTitle {
  text-align: center;
}

.modalButtons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.optionButtons{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.howToPlaySquare {
  padding: 10px;
}

.arrowSquare {
  padding-left: 10px;
  padding-bottom: 4px;
  padding-top: -1px
}
.squareDescription {
  margin-top: -45px;
  margin-left: 70px;
}

/* tests */


.no-suggestions {
  color: #999;
  padding: 0.5rem;
}
.suggestions {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 75%;
  box-sizing: border-box;
  max-height: 143px;
  max-width:22.25%;
  margin-top: -.5px;
  margin-left:-2px;
  color: #2c3e50;
  font-size: 26px;
  background-color: white;
  overflow-y: auto;
  position: absolute;
}
.suggestions li {
  padding: 0.5rem;
}
.suggestion-active,
.suggestions li:hover {
  cursor: pointer;
  font-weight: 700;
}
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
