.normal{
  color: #A8A77A
}
.fire {
  color: #EE8130
}
.water {
  color: #6390F0
}
.electric {
  color: #F7D02C
}
.grass {
  color: #7AC74C
}
.ice {
  color: #96D9D6
}
.fighting {
 color: #C22E28
}
.poison {
  color: #A33EA1
}
.ground {
  color: #E2BF65
}
.flying {
  color: #A98FF3
}
.psychic {
 color: #F95587
}
.bug {
  color: #A6B91A
}
.rock {
  color: #B6A136
}
.ghost {
  color: #735797
}
.dragon {
  color: #6F35FC
}
.dark {
  color: #705746
}
.steel{
  color: #B7B7CE;
}
.fairy {
  color: #D685AD
}

